<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <script src="bog-rs.js" type="text/javascript"></script>
        <link href="bog-rs.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
    <body>
        <div style="text-align:center;color:#073642">
            <div id="title">
                <img src="letters/title.png" style="width:564px;">
            </div>
            <input type="image" src="letters/start.png" style="width:282px" id="start" value="Start Game!"  onclick='start_timer(); reveal("game");and_then_deactivate("start")'>
            <div id="game" style="display:none;">
                <table class="center" style="width:564px;">
                    <caption>
                        <input type="image" src="/letters/new.png" style="width:282px" value=" New Game " onClick="window.location.reload();">
                        <h3>absolutely bog-rs m8</h3>
                        <h2 id="timery"></h2>
                    </caption>
                    {% for row in rows %}
                    <tr>
                        {% for letter in row %}
                        <td style="text-align:center;padding:0px;">
                            <img src="/letters/{{letter}}.png" style="width:128px;height:128px;">
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <form onsubmit="update_test();return false">
                    <input type="text" id="eval_answer">
                    <input type="submit">
                </form>
                <div id="test">
                    ?
                </div>
                <h2>Solutions </h2>
                <input type="image" src="/letters/solutions.png" style="width:282px" id="solutions" value="Reveal solutions" onclick='reveal("result_list");and_then_deactivate("solutions")'>
                <div id="result_list", style="display:none">
                    <table class="center">
                        <caption>
                            <h2> ({{n_solutions}} found): </h2>
                        </caption>
                        {% for solution_set in solutions %}
                        <tr>
                            {% for solution in solution_set %}
                            <td style="padding:20px;">
                                <h2>
                                    {{solution}}
                                </h2>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
