<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <script src="bog-rs.js" type="text/javascript"></script>
        <link href="bog-rs.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
    <body>
        <div style="text-align:center;color:#073642">
            <div id="title">
                <img src="letters/title.png" style="width:564px;">
            </div>
            <h3>absolutely bog-rs m8</h3>
            {% block content %}
            {% endblock %}
        </div>
        <div class="bottom">
            BogChamp and bog-rs are open-source and available at <a href="https://github.com/For-The-Wolf/bog-rs">https://github.com/For-The-Wolf/bog-rs</a>
        </div>
    </body>
</html>
