{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
	var intervalId = window.setInterval( () => poll_game(), 500);
</script>

<div id="room_id" style="display:None">{{room_id}}</div>
<div id="player_id" style="display:None">{{player_id}}</div>

<h1>{{room_name}}</h1>
<h2>{{player_name}}</h2>
<table class="center" style="width:564px;">
	<caption>
		<h1 id="score_box">Score - 0</h1>
		<h2 id="timery">Time remaining - 02:00</h2>
	</caption>
	{% for row in rows %}
	<tr>
		{% for letter in row %}
			<td style="text-align:center;padding:0px;">
				<img src="/images/letters/{{letter}}.png" style="width:128px;height:128px;">
			</td>
			{% endfor %}
	</tr>
	{% endfor %}
</table>
<form id="submit_form" action="#" onsubmit="check_guess(); return false">
	<h2>Solutions</h2>
	<input type="text" id="eval_answer" autocomplete="off" placeholder="Guess word.." autofocus>
	<input type="submit" value="">
</form>
<div id="guesses">
</div>
{% endblock %}
